# Ignore egg directories for various versions
*.egg-info/
*.egg/
*.eggs/

# Ignore generated images
*.ico
*.png

# Ignore bytecode
*.pyc

# Ignore build and runtime directories
build/
dist/
node_modules/
venv/
